body{
    
    text-align: center;
    background-color: brown;
   
    
    }

#white {
    width: 70px;
    height: 70px;
    background-color: white;
    display: inline-block;
    color: black;
    font-size: 30px;
    line-height: 10px;
    
   


}

#black {
    width: 70px;
    height: 70px;
    background-color: black;
    display: inline-block;
    color: aliceblue;
    font-size: 30px;
    line-height: 10px;

}


